:root{
    --linear-gradient: 315deg, #7C39CC 0%, #1F232F 50%;
    --radial-gradient: at top left, #1DCFFC 0%, #7C39CC 80%;
    --revert-radial-gradient: at top left, #7C39CC 10%, #1DCFFC 100%;
    --main-font: 'Inter';
}

body{
    background-color: #7C39CC;
    background-image: linear-gradient(var(--linear-gradient));
    font-family: var(--main-font) !important;
}

.main-font-custom{
    font-weight: 400;
}

.main-gradient{
    background-image: linear-gradient(var(--linear-gradient)) !important;
}

.bg-hls {
    background-color: hsla(0,0%,6%,.6) !important;
}

.bg-darkslateblue {
    background-color: darkslateblue !important;
}

.dynamic-text{
    background-color: transparent !important;
    background-image: radial-gradient(var(--radial-gradient)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.btn-radial-gradient{
    background-image: radial-gradient(var(--radial-gradient)) !important;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    color: #fff !important;
}
.btn-radial-gradient:hover{
    background: radial-gradient(var(--revert-radial-gradient)) !important;
    transform: scale(1.1);
    opacity: 1 !important;
}